@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --tran-02: all 0.2s ease-in-out;
    --tran-03: all 0.3s ease-in-out;
    --tran-04: all 0.4s ease-in-out;
    --tran-05: all 0.5s ease-in-out;
}

:root[data-theme="light"] {
    --text: #060504;
    --background: #f9f6f0;
    --primary: #b09c73;
    --secondary: #eedfc9;
    --accent: #262b31;
  }
  :root[data-theme="dark"] {
    --accent: #d9d5cf;
    --background: #060909;
    --primary: #4f638c;
    --secondary: #112036;
    --text: #f8f9fb;
    
  }

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    color: var(--text);
}

body {
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text);
}

::-webkit-scrollbar-track {
    background-color: var(--background);
}

.topnav {
    min-width: 100vw;
    overflow: hidden;
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

.topnav a {
    float: left;
    display: block;
    color: var(--text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: var(--tran-02);
    border-left: solid 1px var(--accent);
    border-right: solid 1px var(--accent);
    box-sizing: content-box;
}

.topnav a:hover {
    background-color: var(--secondary);
    color: var(--text);
}

.topnav a.active {
    background-color: var(--primary);
    color: var(--text);
}

.topnav .icon {
    display: none;
}

/* Additional styles for the menu items */
.menuitems {
    background-color: #b09c73;
    text-align: center;
}

.navItem {
    display: inline-block;
    margin: 10px;
}

.menuitems a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    transition: var(--tran-02);
}

.menuitems a:hover {
    text-decoration: underline;
    transition: var(--tran-02);
}

.bx {
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
}

.main-content header {
    padding: 10px;
    font-size: min(23px, 5vw);
}

.content {
    flex: 1;
    order: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

ul {
    padding-top: 10px;
    padding-bottom: 10px;
}

ul header {
    font-weight: bold;
    font-size: min(23px, 5vw);
}

li {
    padding: 10px;
    font-size: min(20px, 4vw);
    background-color: var(--secondary);
}

li a {
    text-decoration: underline;
    color: var(--text);
    transition: var(--tran-02);
}

li a:hover {
    color: var(--primary);
}

li a:visited {
    color: var(--primary);
}

.welcoming {
    width: 60%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.welcome,
.welcome-kurdish {
    font-size: min(30px, 5vw);
    color: var(--text);
}

.prayertable {
    flex: 1;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.dontation-info {
    width: 90%;
    flex: 1;
    order: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: min(20px, 4vw);
}

.date-time {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    font-size: 25px;
}

.Table {
    border-collapse: collapse;
    width: min(400px, 100%);
}

.Table th {
    font-size: 25px;
    text-align: left;
    color: var(--text);
    border-bottom: 2px solid var(--primary);
    /* Change border color to primary-light for headers */
    background-color: transparent;
    padding: 10px;
}

.Table td {
    font-size: 20px;
    font-weight: 900;
    color: var(--text);
    border-top: 2px solid var(--primary);
    /* Change border color to primary-light for rows */
    border-bottom: 2px solid var(--primary);
    /* Change border color to primary-light for rows */
    background-color: transparent;
    padding: 10px;
    text-align: left;
}

.Table td:nth-child(2),
.Table th:nth-child(2) {
    background-color: transparent;
    text-align: center;
}

.Table td:nth-child(3),
.Table th:nth-child(3) {
    background-color: var(--secondary);
    text-align: center;
}


.download-button {
    background-color: var(--primary);
    color: var(--text);
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.download-button:hover {
    background-color: var(--secondary);
}

.Screen-item {
    border-radius: 10px;
    width: 0px;
    height: 0px;
    text-decoration: none;
    width: fit-content;
}

.Screen-item a {
    display: none;
}

.explore {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.bismillah {
    text-align: center;
    font-size: min(40px, 4.5vw);
}

@media (max-width: 767px) {
    body {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    /* Adjust styles for prayer times */
    .prayertable {
        order: 1;
    }

    .prayertimes {
        width: 90%;
    }

    /* Adjust styles for map and YouTube video */
    .map {
        order: 3;
    }

    .youtube-video {
        order: 4;
    }
}

iframe {
    padding: 15px;
    width: 90vw;
    height: 35vh;
}

/* Responsive design for PC */
@media (min-width: 768px) {
    body {
        overflow-x: hidden;
        overflow-y: auto;
    }

    iframe {
        width: max(350px, 50vw);
        height: 400px;
        padding: 10px;
    }

    .main-content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
        width: 100%;
        align-items: start;
    }

    .dontation-info {
        width: max(350px, 50vw);
    }

    .welcoming {
        padding: 40px;
    }

    .content {
        grid-area: 1 / 1;
    }

    .dontation-info {
        grid-column: 2 / 2;
    }

    .welcoming {
        height: 10vh;
    }

    /* Revert prayer times order for PC */
    .prayertable {
        order: 1;
    }

    /* Revert map and YouTube video order for PC */
    .map {
        order: 2;
    }

    .youtube-video {
        order: 3;
    }
}