@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
    --accent-dark: #6a7585;
    --accent-light: #262a30;
    --background-dark: #070604;
    --background-light: #f9f6f0;
    --primary-dark: #4e3a13;
    --primary-light: #b09c73;
    --secondary-dark: #181107;
    --secondary-light: #eedfc9;
    --text-dark: #f9f6f0;
    --text-light: #070604;

    --tran-02: all 0.2s ease-in-out;
    --tran-03: all 0.3s ease-in-out;
    --tran-04: all 0.4s ease-in-out;
    --tran-05: all 0.5s ease-in-out;
}

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-light);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}



::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-light);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-light);
}

::-webkit-scrollbar-track {
    background-color: var(--background-light);
}

.topnav {
    overflow: hidden;
    background-image: url('bg.jpg');
    /* Set background image */
    background-size: cover;
    /* Ensure the background image covers the entire navbar */
    background-repeat: repeat;
    background-position: center;
    /* Center the background image */
}

.topnav a {
    float: left;
    display: block;
    color: var(--text-light);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: var(--tran-02);
    border-left: solid 1px var(--accent-light);
    border-right: solid 1px var(--accent-light);
    box-sizing:content-box;
}

.topnav a:hover {
    background-color: var(--secondary-light);
    color: var(--text-light);
}

.topnav a.active {
    background-color: var(--primary-light);
    color: var(--text-light)
}

.topnav .icon {
    display: none;
}


/* Additional styles for the menuitems */
.menuitems {
    background-color: #b09c73;
    text-align: center;
}

.navItem {
    display: inline-block;
    margin: 10px;
}

.menuitems a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    transition: var(--tran-02);
}

.menuitems a:hover {
    text-decoration: underline;
    transition: var(--tran-02);
}



.bx {
    color: var(--text-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
}

.main-content header {
    padding: 10px;
    font-size: min(23px,5vw);
}

.content {
    flex: 1;
    order: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

ul {
    padding-top: 10px;
    padding-bottom: 10px;
}
ul header {
    font-weight: bold;
font-size: min(23px,5vw);
}
li {
    padding: 10px;
    font-size: min(20px,4vw);
    background-color: var(--secondary-light);
}

li a{
    text-decoration:underline;
    color: var(--text-light);
    transition: var(--tran-02);
}
li a:hover {
    color: var(--primary-light);
}
li a:visited {
    color: var(--primary-light);
}

.welcoming {
    width: 60%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.welcome,.welcome-kurdish {
    font-size: min(30px,5vw);

}

.prayertable {
    flex: 1;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.dontation-info {
    flex: 1;
    order: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: min(20px,4vw);;
}
@media (min-width: 768px) {
    .main-content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        /* Three columns: 2 parts for content, and 1 part each for prayertable and donation-info */
        gap: 20px;
        /* Adjust the gap as needed */
        width: 100%;
        align-items: start;
    }

    .content {
        grid-area: 1 / 1;
    }

    .dontation-info {
        grid-column: 2 / 2;
    }
    .welcoming {
        height: 10vh;
    }
}

.date-time {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    font-size: 25px; /* Increase font size */
}

.Table {
    border-collapse: collapse;
    width:min(400px,100%);
}

/* Style the table header (first row) */
.Table th {
    font-size: 25px; /* Increase font size */
    text-align: left;
    color: var(--text-light);
}

/* Style the first column (normal) */
.Table td:first-child {
    font-size: 20px; /* Increase font size */
    font-weight: 900;
    color: var(--text-light);
}

/* Style the second column (background color: primary-light) */
.Table td:nth-child(2),
.Table th:nth-child(2) {
    font-size: 20px; /* Increase font size */
    font-weight: 900;
    color: var(--text-light);
    background-color: var(--primary-light);
    text-align: center; /* Center headers and cells */
}

/* Style the third column (background color: secondary-light) */
.Table td:nth-child(3),
.Table th:nth-child(3) {
    font-size: 20px; /* Increase font size */
    font-weight: 900;
    color: var(--text-light);
    background-color: var(--secondary-light);
    text-align: center; /* Center headers and cells */
}

.download-button {
    background-color: var(--primary-light);
    color: var(--text-light);
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

/* Optional: Add hover effect using secondary-light and accent-light */
.download-button:hover {
    background-color: var(--secondary-light); /* Replace with your secondary light color */
}



.Screen-item {
    background-color: var(--accent-dark);
    border-radius: 10px;
    width: 250px;
    text-decoration: none;
    width: fit-content;
}

.explore {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.bismillah {
    text-align: center;
    font-size: min(20px,3.5vw);
}