@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@300;400;500;600;700;800;900&display=swap');



:root {
  --background-color: #ffeac5;
  --primary-color: #134f1f;
  --text-color: #252832;
}

@font-face {
  font-family: 'Uthmanic Script';
  src: url("KFGQPC Uthmanic Script HAFS Regular.otf") format("opentype");
}
@font-face {
  font-family: 'Poppins';
  src: url("Poppins-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url("Poppins-Bold.otf") format("opentype");
}


* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

h1 {
  font-size: 4vw;
  font-family: 'Poppins-Bold', sans-serif;
}

h2 {
  margin: 0;
  font-size: 2vw;
  text-align: center;
  color: var(--text-color);
  font-family: 'Poppins-Bold', sans-serif;
}

h4 {
  margin: 0;
  padding: 0.5vw;
  font-size: 2vw;
  color: var(--text-color);
  font-family: 'Poppins-Bold', sans-serif;
}

p {
  margin: 0;
}
ul {
  list-style-type: none;
  gap: 15px;
}
li {
  list-style-type: none;
  text-decoration: none;
}

.pr {
  color: var(--primary-color);
}
.ar {
  font-family: 'Noto Sans Arabic', sans-serif;
  direction: rtl;
}
.Screen {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-image: url("bg.jpg");
  transition: filter 0.5s ease;
  flex-direction: column;
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-direction: column;
}
.ramadan {
 padding:0 !important;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50vh;
  gap: 10vh;
}

.invert-filter {
  filter: invert(1);
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh;
  padding: 1vw;
  align-items: center;
  background-color: var(--background-color);
}

.mosque-name {
  color: var(--text-color);
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 2.5vw;
  font-weight: 800;
  font-family: 'Poppins-Bold', sans-serif;

}

.dates {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5vh auto;
  justify-items: end;
  align-items: center;
}

.time {
  width: 100%;
  font-weight: 900;
  color: var(--text-color);
  text-align: center;
  font-size: 5vw;
  align-self: center;
  border-radius: 25px;
  font-family: 'Poppins-Bold', sans-serif;
}

#normal,
#islamic {
  font-weight: bold;
  color: var(--text-color);
  font-size: 2.5vw;
  text-align: right;
  font-family: 'Poppins-Bold', sans-serif;

}

.middle {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1;
}

.primary {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rotating-content {
  width: 100%;
  height: 100%;
}

.salaam {
  font-size: 4.5vw;
  text-align: center;
  font-family: 'Noto Sans Arabic', sans-serif;
}

.welcome {
  font-size: 4.5vw;
  text-align: center;
  font-family: 'Poppins-Bold', sans-serif;

}

.jummah {
  font-size: 3vw;
  font-family: 'Poppins-Bold', sans-serif;
}

.salaam,
.verse {
  font-family: 'Uthmanic Script', sans-serif;
  font-weight: 600;
  word-break: break-all;
  direction: rtl;
  text-align: right;
}


.verse-container {
  display: flex;
  height: 40%;
  width: 100%;
  flex-direction: row-reverse;
  padding: 10px;
  flex-wrap: wrap;
}

.verse {
  font-size: 3vw;
  flex-shrink: 0;
  flex-grow: 0;
  white-space: pre-wrap;
  width: 100%;
  /* You can adjust the width as needed */
}

.translation {
  padding: 10px;
  font-size: 2.5vw;
  font-weight: 600;
  word-break: break-word;
}

.hadith {
  padding: 10px;
  font-size: 2.7vw;
  font-weight: 600;
  word-break: break-word;
}

/* CSS for the overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  text-align: center;
  padding-top: 20%;
  z-index: 999;
}

/* CSS for the countdown text */
.countdown-text,
.prayer-in-progress-text {
  font-size: 6vw;
  /* Adjust the font size as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
}

.phones {
  margin: 10vh;
  font-size: 4vw;
}

.details {
  padding-top: 10px;
  width: 100%;
}

.account {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}

.acc {
  font-size: 2.5vw;
  font-weight: 600;
  padding: 10px;
}

.website {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.web {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.web * {
  font-size: 2.5vw;
  font-weight: 600;
  width: 100%;
  padding: 10px;
}

.link {
  font-size: 3vw;
  font-weight: 2.8vw;
}

.prayertimes {
  padding: 5px 15px;
}

.Table {
  border-collapse: collapse;
  width: 100%;
  height: 75vh;
}

.Table th {
  border: none;
  /* Remove border */
  font-size: 3.5vw;
  font-weight: 900;
  text-align: center;
  color: var(--text-color);
}

.Table td {
  border: none;
  /* Remove border */
  font-size: 5.4vw;
  font-weight: 900;
  text-align: center;
  color: var(--text-color);
}

table tr td:first-child {
  text-align: left;
  font-family: 'Poppins-Bold', sans-serif;
}
table tr td {
  font-family: 'Poppins-Bold', sans-serif;
}

.Table th {
  color: var(--text-color);
}

.Fajr,
.Dhuhr,
.Asr,
.Maghrib,
.Isha {
  color: var(--text-color);
}
tr.Fajr td:nth-child(2),tr.Maghrib td:nth-child(2) {
  color: var(--primary-color);
}


.Maghrib td,
.Isha td {
  text-align: center;
}



.entry {
  padding-top: 2vw;
}



.rotating-content {
  display: none;
}

.translation-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.source {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: var(--text-color);
}

.source * {
  font-size: 2.5vw;
  font-weight: 800;
}


#translation {
  padding: 0.8vw;
  padding-bottom: 2px;
  font-size: 3vw;
  font-weight: 700;
  color: var(--text-color);
  min-height: 55vh;
  max-height: 60vh;
  overflow: hidden;
}

.Jumma-Content {
  width: 100%;
  height: 100%;
}

.jumma-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.english {
  display: flex;
  flex-direction: row;
  font-size: 4vw;
}

.kurdish {
  display: flex;
  flex-direction: row;
  font-size: 4vw;
}

.urgency {
  color: var(--primary-color);
  font-weight: bold;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}